.colone {
  text-align: right;
}

.coltwo {
  text-align: left;
}

.colthree {
  color: red;
  text-align: left;
}

td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 5px;
}
