.container{
	width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

header, footer {
	padding: 1em;
	clear: both;
	text-align: center;
}

.colone {
  text-align: right;
}

.coltwo {
  text-align: left;
}

.error {
  color: red;
}

.col {
  float: left;
  width: 50%;
}

.pw_req_col {
  display: none;
  float: left;
  width: 25%;
  border: thin black solid;
}

.pw_req_table {
}

td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 5px;
}
