.container {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

header, footer {
  padding: 1em;
  clear: both;
  text-align: center;
}

svg {
  border-style: solid;
  border-width: 1px;
}

.board {
  margin: auto;
  border-style: solid;
  border-width: 1px;
  height: 500px;
  width: 1000px;
}

.draggable {
  position: relative;
  left: 0;
  top: 0;
  cursor: move;
}
